.managespot-buttons-container {
    display: flex;
}

.managespot-button {
    margin: 10px;
    margin-bottom: 20px;
    background-color:#767676;
    color: white;
    cursor: pointer;
    width: 120px;
    border-radius: 4px;
}

.title {
    margin: 20px 10px;
}

.managespot-newspot {
    margin-left: 10px;
    font-size: large;
    color: black;
}
