.spotlist {
    display: flex;
    flex-wrap: wrap;
    max-width: 2200px;
  }

.spot-info {
    text-align: center;
    margin-top: 5px;
    flex-direction: column;
}

.spot-info div {
    margin-bottom: 5px;
}

.spot-img {
    width: 400px;
    height: 300px;
    margin: 10px;
    border-radius: 10px
}

.spot-city-and-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.spot-price {
    display: flex;
    margin-left: 20px;
    font-weight: bold;
}
