.spotdetail-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #CCCCCC;
}

.spotdetail-info-host h2 {
    margin: 0;
}

.spotdetail-info-callout {
    display: flex;
    justify-content: space-evenly;
}

.spotdetail-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}

.spotdetail-reserve-button {
    margin-left: 20px;
    background-color:#FF5A5F ;
    color: white;
    cursor: pointer;
    width: 250px;
    border-radius: 4px;
    height: 30px;
}
