
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-label {
    margin: 5px
}

.form-button {
    margin: 5px
}

.input {
    margin-left: 5px;
}
