
.newspot-form-button{
    margin: 10px;
    margin-bottom: 20px;
    background-color:#FF5A5F ;
    color: white;
    cursor: pointer;
    width: 208px;
    height: 40px;
    border-radius: 4px;

}

.newspot-form-button-container {
    display: flex;
    justify-content: center;
}

.newspot-form-section-container {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 20px;
}

.newspot-form-caption {
    margin: 0;
    margin-bottom: 4px;
}

.newspot-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newspot-form {
    max-width:600px;
}

.newspot-form-required-input {
    color: #FF5A5F
}

.newspot-form-city-state-container{
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.newspot-form input {
    height: 25px;
    margin: 5px 0;
}
